body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Lab-Black';
  font-family: 'Lab-Regular';
  src: local('Lab-Black'), url(./components/Fonts/LabGrotesque-Black.woff2) format('woff2');
  src: local('Lab-Regular'), url(./components/Fonts/LabGrotesque-Regular.woff2) format('woff2');
}
